#titleFont {
    font-family: 'Bungee Outline', cursive;
    font-size: 45px;
    font-weight: bold;
    line-height: 24px;
    z-index: 33;
    position: relative;
    color: #fafafa;
}
html {
    height: 100%;
}
body {
    background: #00796b;
    background: linear-gradient( to bottom right, #00796b, #4db6ac);
    background-repeat: no-repeat;
    background-size: cover;
}

.item.icon:not([class*="text-"]) {
    color: #fafafa;
}